
<div class="card bg-light border-0 py-4">

<div class="card-body">
  <h1 class="display-1"><%= @friend.first_name %> <%= @friend.last_name %></h1>

  <strong>Email:</strong> <%= @friend.email %> |
  <strong>Phone:</strong> <%= @friend.phone %> |
  <strong>Twitter:</strong> <%= @friend.twitter %>

  <div class="mt-4">
    <%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_friend_path(@friend), class:'btn btn-secondary' %>
    <%= link_to "<i class='fas fa-trash'></i>".html_safe, @friend, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to "<i class='fas fa-chevron-left'></i> Back".html_safe, friends_path, class:'btn btn-dark' %>
  </div>
  
  </div>
</div>
